<%- include('partials/header.ejs') %>
<div class="container">
    <!-- <header>
        <h1>AttentionAI</h1>
        <p>Your ADHD Accountability Coach</p>
    </header> -->

    <div class="task-container">
        <div class="toggle-div">
            <a href="/app">Chat</a>
            <a href="/todo-list" id="selected-tab">Tasks</a>
        </div>
        <div class="task-list" id="task-list">
            <% todoList.forEach(task => { %>
                <div class="task">
                    <input type="checkbox" name="" id="">
                    <p><%= task.task_name %> at <%= task.scheduled_time %> for <%= task.duration %> minutes</p>
                </div>
            <% }) %>
        </div>
        <div class="task-input">
            <form action="/addTask" method="post">
                <div class="text-input-div">
                    <input type="text" id="goal-input" name="taskName" placeholder="Add a new Task...">
                </div>
                <div class="input-div">
                    <div class="time-input-div">
                        <label for="scheduledTime">Scheduled Time:</label>
                        <input type="time" id="scheduled-time" name="scheduledTime" required>
                        <input type="hidden" id="currentDate" name="currentDate" value="">
                    </div>
                    <div class="duration-input-div">
                        <label for="duration">Duration in mins:</label>
                        <input type="number" id="duration" name="duration" required>
                    </div> 
                </div>
                <button id="add-task-btn" type="submit">Add Task</button>  
                
            </form>
        </div>
    </div>
</div>

<script>
    const taskList = document.getElementById('task-list');
    taskList.scrollTop = taskList.scrollHeight;

    //Sending Current Date
    const currentDateString = new Date().toString();
    const currentDateElement = document.getElementById('currentDate');
    currentDateElement.setAttribute('value', currentDateString);
    console.log(currentDateElement.value);
    
</script>

<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script>
    console.log("script is running!");
    const userId = <%= currentUserId %>;
    const socket = io();
    
    socket.emit('storeClientInfo', {userId: userId});
    
    socket.on('redirect', (data) => {
        if (data.userId == userId) {
            window.location.href = data.url;
        }
    });
</script>
