<%- include('partials/header.ejs') %>
<div class="container">

    <div class="task-container">
        <div class="toggle-div">
            <a href="/app">Chat</a>
            <a href="/todo-list" id="selected-tab">Tasks</a>
        </div>
        <div class="task-list" id="task-list">
            <div id="list-container">
            <% todoList.forEach(task => { %>
                <!-- Convert time to 12 hr format -->
                <% const [hour, min, sec] = task.scheduled_time.split(':');
                let hour12 = hour % 12 || 12;
                let period = hour >= 12 ? 'PM' : 'AM';
                task.scheduled_time = `${hour12}:${min} ${period}`;
                %>
                <!-- Render each task -->
                <div class="task" id="task-<%= task.id %>">
                    <div class="task-content">
                        <input type="checkbox" name="">
                        <label for="task-<%= task.id %>">
                            <span class="task-name"><%= task.task_name %></span>
                            <span class="task-details">
                                <span class="task-time"><%= task.scheduled_time %></span>
                                <span class="task-duration"><%= task.duration %> min</span>
                            </span>
                        </label>
                    </div>
                    <button class="delete-task" id="delete-task-<%= task.id %>" aria-label="Delete task" onclick="deleteTask(`<%= task.id %>`)">×</button>
                </div>
            <% }) %>
            </div>
        </div>
        <div class="task-input">
            <form action="/addTask" method="post" id="todo-form">
                <div class="text-input-div">
                    <input type="text" id="goal-input" name="taskName" placeholder="Add a new Task...">
                </div>
                <div class="input-div">
                    <div class="time-input-div">
                        <label for="scheduledTime">Scheduled Time:</label>
                        <input type="time" id="scheduled-time" name="scheduledTime" required>
                        <input type="hidden" id="currentDate" name="currentDate" value="">
                    </div>
                    <!-- Testing -->
                    <div class="date-input-div">
                        <label for="scheduledDate">Scheduled Date:</label>
                        <input type="date" id="scheduled-date" name="scheduledDate" required>
                    </div>
                    <!-- Testing -->
                    <div class="duration-input-div">
                        <label for="duration">Duration in mins:</label>
                        <input type="number" id="duration" name="duration" required>
                    </div> 
                </div>
                <button id="add-task-btn" type="submit">Add Task</button>  
                
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/todo-list.js"></script>

<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script>
    console.log("script is running!");
    const userId = <%= currentUserId %>;
    const socket = io();
    
    socket.emit('storeClientInfo', {userId: userId});
    
    socket.on('redirect', (data) => {
        if (data.userId == userId) {
            window.location.href = data.url;
        }
    });
</script>


